nav {
  display: flex;
  font-family: "Bungee";
  box-sizing: border-box;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  position:static;
}

nav span {
  font-family: "Bungee";
  align-self: flex-end;
  font-size: 200%;
  position: fixed;
}

.nav-tweet {
  font-family: sans-serif;
  font-size: medium;
  font-weight: 100;
  background-color: #4056A1;
  border: none;
  padding: 5px;

}

.nav-tweet:hover {
  cursor: pointer;
}

.tweet-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  right: 5px;
}

.tweet-icon i {
  color: red;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite
}

@keyframes example {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }

}

.nav-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #e67f00;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
  background-size: auto;
}

@media (min-width:1024px) {
  .nav-header {
    width: 30%;
    float: left;
    margin-left: 20px;
    margin-top: 10%;

  }

  .container {
    width: 55%;
    float: right;
    margin-right: 5%;
  }
}

#scroll-button {
  display: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
  background-color: red;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  font-size: 1em;
  cursor: pointer;
}

#scroll-button i{
  color: #fff;
  font-size:larger;
  
  z-index: 100;
}